.swiper {
  height: 100vh;
  width: 100vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-poster {
  position: absolute;
  width: auto;
  height: 500px;
  right: 200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.des {
  width: 900px;
  top: 200px;
  position: absolute;
  left: 50px;
  color: white;
  .title {
    font-size: 70px;
    font-weight: 700;
  }
  .over-view {
    font-size: 20px;
  }
  .button-customs {
    margin-top: 30px;
    display: flex;
    gap: 30px;
  }
}
